html, body {
    margin: 0;
    padding: 0;
    
}

.app-wrapper {
    display: flex;  /* Enables Flexbox layout */
    position: fixed;  /* Ensures full viewport coverage */
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;  /* Optional: Set background color */
    border: 5px solid black;
    box-sizing: border-box;
    background-image: url(./images/bg-table2.png);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.game-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    top: 0;
    flex: 1;
    width: 100%;
    background-color: #f0f0f0;
    padding: 15px;
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Distribute content with space between */
    align-items: center; /* Optional: Center content vertically */
}

.header > button {
    background-color: #4CAF50; /* Green color */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-right: 8%;
}

.header > p {
    font-size: large;
    font-weight: bolder;
    color: #a85aa8;
}

.popup {
    display: none;        /* Initially hide the popup */
    position: fixed;      /* Position over the window */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: white;  
    padding: 25px;
    padding-right: 35px;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 10; /* Ensure popup is above other content */
    width: 80%;
    text-align: left;
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


.top-section {
    display: flex;
    flex: 1;
    top: 0;
    padding: 10px;

}
.dealer-area {
    font-size: larger;
    font-weight: bolder;
    color: beige;
    flex: 2;
}

.dealer-area > p {
    text-align: center;
    margin-top: 50px;
}

.game-cards {
    flex: 1;
    text-align: center;
    padding: 15px;
}


.middle-section {
    display: flex;
    flex: 1;
    padding: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    border: 4px solid black;
}


.dealt-cards-area {
    flex: 1;
    padding: 5px;
    font-size: larger;
    font-weight: bolder;
    color: beige;

}

.game-pot-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 4px solid black;
    align-items: center;
}
.game-pot-area > img {
    height: 100px;
    width: 100px;
}

.pot-amount-message {
    color: whitesmoke;
    margin: 0;
    font-size: large;
}

.play-message {
    color: black;
    background-color: darkgray;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;

}

.bottom-section {
    display: flex;
    flex: 1;
    margin-top: 10px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    
}

.bid-area {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    align-self: center;
}

.player-wallet {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-left: 15px;
}

.player-wallet-message {
    font-weight: bold;
}

.player-wallet-img {
    height: 75px;
    width: 75px;
}

.bet-button-area {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
    justify-items: center;

}

.bet-message {
    display: flex;
    width: 100%;
    margin: 0 2;
}


.bet-buttons {
    background-color: gold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    margin: 1px;
    flex: 1;
    text-align: center;
}

.button-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.game-buttons {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    margin: 2px;
}

.fds-footer {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
}

.tagline {
    padding: 10px;
    color: #e4e4e4;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}


                  