@media only screen and (max-width: 600px) { /* Adjust breakpoint as needed */
    .game-container {
      flex-direction: column; /* Stack dealer & cards vertically */
    }
  
    .dealer-area, 
    .game-cards {
      width: 100%; /* Make them take up full width */
    }
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 15px;
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Distribute content with space between */
    align-items: center; /* Optional: Center content vertically */
}

.header > button {
    background-color: #4CAF50; /* Green color */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-right: 8%;
}

.header > p {
    font-size: large;
    font-weight: bolder;
    color: #a85aa8;
}

.popup {
    display: none;        /* Initially hide the popup */
    position: fixed;      /* Position over the window */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: white;  
    padding: 25px;
    padding-right: 35px;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 10; /* Ensure popup is above other content */
    width: 80%;
    text-align: left;
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.game-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-image: url(./images/bg-table2.png);
    background-size: cover;
    background-position: center;
}

.top-section {
    display: flex;
    padding: 10px;

}
.dealer-area {
    font-size: larger;
    font-weight: bolder;
    color: beige;
    flex: 2;
}

.dealer-area > p {
    text-align: center;
    margin-top: 50px;
}

.game-cards {
    flex: 1;
    text-align: center;
    padding: 15px;
}


.middle-section {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}


.dealt-cards-area {
    flex: 1;
    padding: 5px;
    font-size: larger;
    font-weight: bolder;
    color: beige;

}

.game-pot-area {
    flex: 1;
    padding: 5px;

}

.game-pot-area > p {
    color: whitesmoke;
}

.game-pot-area > img {
    height: 100px;
}

.play-message {
    flex: 1;
    text-align: center;
    padding: 5px;
    font-size: larger;
    font-weight: bolder;
    color: beige;
}

.bottom-section {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.bid-area {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.bet-button-area {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
    justify-items: center;

}

.player-wallet-img {
    height: 75px;
}

.bet-buttons{
    background-color: gold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
    width: 70px;
    height: 35px;
    margin: 1px;
}

.button-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.game-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    margin: 2px;
}


.tagline {
    flex: 1;
    text-align: center;
    padding: 10px;
    color: #e4e4e4;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: medium;
}


                  